<!DOCTYPE html>

<html ng-app="ServersApp">
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-theme.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
	  <style type="text/css">
		  .server {
			  width: 34em;
			  margin: .5em;
			  display: inline-block;
			  vertical-align: top;
		  }
		  .server .btn-group {
			  margin: -0.45em -0.85em 0px 0px;
		  }
	  </style>
  </head>
  <body>
